
{% import "macros/form.njk" as forms %}

{% macro parseCell(field, celldata, tupledata) %}
{% if field.link|length %}
<a href="{{ field.link | dataTransfer(tupledata) }}">{{ celldata }}</a>
{% elif field.type == 'json' %}
	{% if field.layout == 'imagelist' %}
		{{ forms.imagelistview(celldata) }}
	{% endif %}
{% else %}
{{ celldata }}
{% endif %}
{% endmacro %}

{% macro parseField(field, data={}, aryname='', aryidx='', noname=false) %}
{% set fieldname = field.name %}
{% if aryname|length %}
	{% set fieldname = aryname + "[" + aryidx + "][" + field.name + "]" %}
{% endif %}
{% if noname %}
	{% set fieldname = '' %}
{% endif %}
{% if field.type == 'string' or field.type == 'video-url' %}
	{% set placeholder = field|getPlace %}
	{% if field.layout == 'button' %}
		{{ forms.textbutton(fieldname, label=field.label, placeholder=placeholder) }}
	{% else %}
		{{ forms.textfield(fieldname, value=data[field.name], tip=field.tip, placeholder=placeholder) }}
	{% endif %}
{% elif field.type == 'text' %}
	{% set placeholder = field|getPlace %}
	{{ forms.textareafield(fieldname, value=data[field.name], tip=field.tip, placeholder=placeholder) }}
{% elif field.type == 'integer' %}
	{% set placeholder = field|getPlace %}
	{{ forms.numberfield(fieldname, value=data[field.name], tip=field.tip, placeholder=placeholder) }}
{% elif field.type == 'image-file' %}
	{% if field.layout == 'button' %}
		{{ forms.imagefilebutton(fieldname, label=field.label) }}
	{% else %}
		{{ forms.imagefilefield(fieldname, value=data[field.name]) }}
	{% endif %}
{% elif field.type == 'collection' and field.layout == 'tags-selection' %}
	{{ forms.tagsselection(fieldname, tip=field.tip, options=data[field.related], autoCreate=field.autoCreate) }}
{% elif field.type == 'json' %}
	{% if field.layout == 'list' %}
		{{ editlist(fieldname, field.fields, data[field.name]) }}
	{% elif field.layout == 'media-sort-list' %}
		{{ mediasortlist(fieldname, field.fields, data[field.name]) }}
	{% endif %}
{% endif %}
{% endmacro %}

{% macro parseFormField(field, data={}) %}
<div class="form-group row">
	<label class="col-form-label col-sm-2 text-sm-right">{{ field.label }}</label>
	<div class="col-sm-10">
		{{ parseField(field, data) }}
	</div>
</div>
{% endmacro %}

{% macro tabs(sections, data={}) %}
<div class="nav-tabs-top nav-responsive-sm">
	<ul class="nav nav-tabs">
		{% for sec in sections %}
		<li class="nav-item">
			<a class="nav-link {% if loop.first %}active{% endif %}" data-toggle="tab" href="#{{ sec.id }}">{{ sec.title }}
			<span class="badge badge-danger"></span>
			</a>
		</li>
		{% endfor %}
	</ul>
	<div class="tab-content">
		{% for sec in sections %}
		<div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="{{ sec.id }}">
			<div class="card-body">
			{% set fields = sec.fields %}
			{% for field in fields %}
				{% if loop.length == 1 %}
				{{ parseField(field, data) }}
				{% else %}
				{{ parseFormField(field, data) }}
				{% endif %}
			{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endmacro %}

{% macro editlist(name, fields, datalist=[]) %}
<div class="table-responsive">
	<table class="table" editlist-table editlist-prefix="{{ name }}">
		<thead>
			<tr>
				{% for field in fields %}
				<th {% if field.width|length %}style="width: {{ field.width }}"{% endif %}>{{ field.label }}</th>
				{% endfor %}
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for data in datalist %}
			{% set didx = loop.index0 %}
			<tr>
				{{ forms.hiddenfield(name + '[' + didx + '][_idx]', value=didx) }}
				{% for field in fields %}
				<td>
					{{ parseField(field, data, aryname=name, aryidx=didx) }}
				</td>
				{% endfor %}
				<td>
					<a href="javascript:void(0)" class="btn btn-outline-danger md-btn-flat icon-btn btn-sm" editlist-remove-btn><i class="ion ion-md-close"></i></a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<template>
	<tr>
		{{ forms.hiddenfield('_idx') }}
		{% for field in fields %}
		<td>
			{{ parseField(field) }}
		</td>
		{% endfor %}
		<td>
			<a href="javascript:void(0)" class="btn btn-outline-danger md-btn-flat icon-btn btn-sm" editlist-remove-btn><i class="ion ion-md-close"></i></a>
		</td>
	</tr>
</template>
<button type="button" class="btn btn-outline-primary" editlist-add-btn><i class="ion ion-md-add"></i></button>
{% endmacro %}

{% macro mediasortlist(name, fields, datalist=[]) %}
<div class="row mb-3">
	{% for data in datalist %}
		<div class="media align-items-center bg-white ui-bordered col-md-3">
		<div class="sort-item-move ion ion-ios-move text-muted text-big p-3"></div>
		<a href="javascript:void(0)" class="d-block ui-w-120 mr-2 position-relative media-preview">
		{% set didx = loop.index0 %}
		{{ forms.hiddenfield('_order', value=didx) }}
		{% for field in fields %}
			{% if field.type == 'image-file' and data[field.name]|length %}
				<span class="position-absolute media-float-icon ion ion-ios-image text-large text-white"></span>
				<img src="{{ data[field.name] }}" class="img-fluid" alt="">
			{% elif field.type == 'video-url' and data[field.name]|length %}
				<span class="position-absolute media-float-icon ion ion-ios-videocam text-large text-white"></span>
				<img src="{{ data[field.name] }}" class="img-fluid" alt="">
			{% endif %}
		{% endfor %}
		</a>
		<button type="button" class="btn btn-outline-danger borderless icon-btn d-block"><i class="ion ion-md-close"></i></button>
		</div>	
	{% endfor %}
</div>
<template type="main-wrap">
	<div class="media align-items-center bg-white ui-bordered col-md-3">
		<div class="sort-item-move ion ion-ios-move text-muted text-big p-3"></div>
		<a href="javascript:void(0)" class="d-block ui-w-120 mr-2 position-relative media-preview"></a>
		<button type="button" class="btn btn-outline-danger borderless icon-btn d-block"><i class="ion ion-md-close"></i></button>
	</div>
</template>
{% for field in fields %}
	{% if field.type == 'image-file' %}
	<template type="{{ field.type }}">
		<span class="position-absolute media-float-icon ion ion-ios-image text-large text-white"></span>
		<img src="" class="img-fluid" alt="">
		{{ forms.hiddenfield(field.name + '[name]', prop='image-file-name') }}
		{{ forms.hiddenfield(field.name + '[dataurl]', valuefor='siblings(img).src') }}
	</template>
	{% elif field.type == 'video-url' %}
	<template type="{{ field.type }}">
		<span class="position-absolute media-float-icon ion ion-ios-videocam text-large text-white"></span>
		<img src="" class="img-fluid" alt="">
		{{ forms.hiddenfield(field.name, prop='video-url-string') }}
	</template>
	{% endif %}
{% endfor %}
<div class="form-inline" mediasortlist-inputs mediasortlist-prefix="{{ name }}">
{% for field in fields %}
	<div class="input-group" map-tpl="{{ field.type }}" map-name="{{ field.name }}">
	{{ parseField(field, noname=true) }}
	</div>
{% endfor %}
</div>
{% endmacro %}

{% macro gridview(fields, datalist=[]) %}
<div class="table-responsive">
	<table class="gridview table table-striped table-bordered">
		<thead>
			<tr>
				{% for field in fields %}
				<th {% if field.width|length %}style="width: {{ field.width }}"{% endif %}>{{ field.label }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
		{% if datalist|length %}
			{% for data in datalist %}
			<tr>
				<!-- <th scope="row">1</th> -->
				{% for field in fields %}
				<td>
					{{ parseCell(field, data[field.name], tupledata=data) }}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		{% endif %}
		</tbody>
	</table>
</div>
{% endmacro %}

