
{% macro fieldtip(tip='') %}
{% if tip|length %}
<small class="form-text text-muted">{{ tip }}</small>
{% endif %}
{% endmacro %}

{% macro hiddenfield(name, value='', prop='') %}
<input type="hidden" {% if name|length %}name="{{ name }}"{% endif %} value="{{ value | escape }}" {% if prop|length %}{{ prop }}{% endif %}>
{% endmacro %}

{% macro textfield(name, label='', value='', placeholder='', tip='') %}	
{% if label|length %}{{ label }}{% endif %}
<input type="text" {% if name|length %}name="{{ name }}"{% endif %} value="{{ value | escape }}" class="form-control" placeholder="{{ placeholder }}">
{{ fieldtip(tip) }}
{% endmacro %}

{% macro textareafield(name, label='', rows=3, value='', placeholder='', tip='') %}
{% if label|length %}{{ label }}{% endif %}
<textarea class="form-control" {% if name|length %}name="{{ name }}"{% endif %} rows="{{ rows }}" placeholder="{{ placeholder }}">{{ value | escape }}</textarea>
{{ fieldtip(tip) }}
{% endmacro %}

{% macro numberfield(name, label='', min=0, max=100000, step=1000, value='', placeholder='', tip='') %}
{% if label|length %}{{ label }}{% endif %}
<div class="input-group">
	<div class="input-group-prepend">
		<div class="input-group-text">$</div>
	</div>
	<input type="number" {% if name|length %}name="{{ name }}"{% endif %} min="{{ min }}" max="{{ max }}" step="{{ step }}" class="form-control" value="{{ value | escape }}" placeholder="{{ placeholder }}">
</div>
{{ fieldtip(tip) }}
{% endmacro %}

{% macro imagefilefield(name, label='選擇圖片', value='') %}
<label class="img-thumbnail img-thumbnail-shadow" image-field>
	<span class="img-thumbnail-overlay bg-white opacity-75"></span>
	<span class="img-thumbnail-content text-secondary text-medium">{{ label }}</span>
	{% set imgurl = '/assets/img/empty.png' %}
	{% if value|length %}
		{% set imgurl = value %}
	{% endif %}
	<img src="{{ imgurl }}" alt="" class="img-fluid">
	<input type="file" accept="image/*">
	{{ hiddenfield(name, prop='valuefor=siblings-img-src') }}
</label>
{% endmacro %}

{% macro tagsselection(name, label='', options=[], tip='', autoCreate=false) %}
{% if label|length %}{{ label }}{% endif %}
<select {% if name|length %}name="{{ name + '[]' }}"{% endif %} class="select2-tags form-control" multiple {% if autoCreate %}autoCreate{% endif %}>
	{% for opt in options %}
	<option value="{{ opt.value }}" {% if opt.selected == true %}selected{% endif %}>{{ opt.label }}</option>
    {% endfor %}
</select>
{{ fieldtip(tip) }}
{% endmacro %}
