
{% macro fieldtip(tip='') %}
{% if tip|length %}
<small class="form-text text-muted">{{ tip }}</small>
{% endif %}
{% endmacro %}

{% macro hiddenfield(name, value='', valuefor='', prop='') %}
<input type="hidden" {% if name|length %}name="{{ name }}"{% endif %} value="{{ value | escape }}" {% if valuefor|length %}valuefor="{{ valuefor }}"{% endif %} {% if prop|length %}{{ prop }}{% endif %}>
{% endmacro %}

{% macro textfield(name, label='', value='', placeholder='', tip='') %}	
{% if label|length %}{{ label }}{% endif %}
<input type="text" {% if name|length %}name="{{ name }}"{% endif %} value="{{ value | escape }}" class="form-control" placeholder="{{ placeholder }}">
{{ fieldtip(tip) }}
{% endmacro %}

{% macro textareafield(name, label='', rows=3, value='', placeholder='', tip='') %}
{% if label|length %}{{ label }}{% endif %}
<textarea class="form-control" {% if name|length %}name="{{ name }}"{% endif %} rows="{{ rows }}" placeholder="{{ placeholder }}">{{ value | escape }}</textarea>
{{ fieldtip(tip) }}
{% endmacro %}

{% macro numberfield(name, label='', min=0, max=100000, step=1000, value='', placeholder='', tip='') %}
{% if label|length %}{{ label }}{% endif %}
<div class="input-group">
	<div class="input-group-prepend">
		<div class="input-group-text">$</div>
	</div>
	<input type="number" {% if name|length %}name="{{ name }}"{% endif %} min="{{ min }}" max="{{ max }}" step="{{ step }}" class="form-control" value="{{ value | escape }}" placeholder="{{ placeholder }}">
</div>
{{ fieldtip(tip) }}
{% endmacro %}

{% macro imagefilefield(name, label='選擇圖片', value='') %}
<label class="img-thumbnail img-thumbnail-shadow" image-field>
	<span class="img-thumbnail-overlay bg-white opacity-75"></span>
	<span class="img-thumbnail-content text-secondary text-medium">{{ label }}</span>
	{% set imgurl = widgets.image.empty %}
	{% if value|length %}
		{% set imgurl = value %}
	{% endif %}
	<img src="{{ imgurl }}" alt="" class="img-fluid">
	<input type="file" accept="image/*">
	{{ hiddenfield(name + '[name]', valuefor='siblings(input[type=file])._filename') }}
	{{ hiddenfield(name + '[dataurl]', valuefor='siblings(img).src') }}
</label>
{% endmacro %}

{% macro imagefilebutton(name, label='選擇圖片') %}
<label class="btn btn-outline-primary" image-field>
	<span><i class="ion ion-md-add"></i> {{ label }}</span>
	<input type="file" accept="image/*" multiple>
</label>
{% endmacro %}

{% macro imageview(src, link, icon='') %}
<a href="{{ link }}" class="d-block align-items-center ui-w-100 position-relative mr-2 mb-1">
	{% if icon|length %}
		{% set iconcls = 'image' %}
		{% if icon == 'video' %}
			{% set iconcls = 'videocam' %}
		{% endif %}
		<span class="position-absolute media-float-icon ion ion-ios-{{ iconcls }} text-large text-white"></span>
	{% endif %}
	<img src="{{ src }}" alt="" class="img-fluid">
</a>
{% endmacro %}

{% macro imagelistview(datalist=[]) %}
<div class="row">
{% for data in datalist %}
	{{ imageview(data.src, data.link, data.type) }}
{% endfor %}
</div>
{% endmacro %}

{% macro textbutton(name, label='', placeholder='') %}
{{ textfield(name, placeholder=placeholder) }}
<button type="button" class="btn btn-outline-primary"><i class="ion ion-md-add"></i> {{ label }}</button>
{% endmacro %}

{% macro tagsselection(name, label='', options=[], values=[], tip='', autoCreate=false) %}
{% if label|length %}{{ label }}{% endif %}
<select {% if name|length %}name="{{ name + '[]' }}"{% endif %} class="select2-tags form-control" multiple {% if autoCreate %}autoCreate{% endif %}>
	{% for opt in options %}
	{% set selected = false %}
	{% if values|length and opt.value in values %}
		{% set selected = true %}
	{% endif %}
	<option value="{{ opt.value }}" {% if selected %}selected{% endif %}>{{ opt.label }}</option>
    {% endfor %}
</select>
{{ fieldtip(tip) }}
{% endmacro %}

{% macro selection(name, label='', options=[], value='', tip='', emptylabel='Choose...') %}
{% if label|length %}{{ label }}{% endif %}
<select {% if name|length %}name="{{ name }}"{% endif %} class="form-control">
	<option value="">{{ emptylabel }}</option>
	{% for opt in options %}
	{% set selected = false %}
	{% if value|length and opt.value == value %}
		{% set selected = true %}
	{% endif %}
	<option value="{{ opt.value }}" {% if selected %}selected{% endif %}>{{ opt.label }}</option>
    {% endfor %}
</select>
{{ fieldtip(tip) }}
{% endmacro %}


