
{% extends "base.njk" %}

{% block headtitle %}CCCOPY ADMIN{% endblock %}

{% block innerContent %}
Test
{% endblock %}


{% block bodyjs %}
<!-- Demo -->
<script src="assets/js/demo.js"></script>
{% endblock %}	
