
{% extends "base.njk" %}

{% block headtitle %}Login{% endblock %}

{% block css %}
<link rel="stylesheet" href="/assets/vendor/css/pages/authentication.css">
<style type="text/css">
	img.login-logo{
		width: inherit;
	}
</style>
{% endblock %}

{% block content %}
  <div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4" style="background-image: url('assets/img/bg/1.jpg');">
    <div class="ui-bg-overlay bg-dark opacity-25"></div>

    <div class="authentication-inner py-5">

      <div class="card">
        <div class="p-4 p-sm-5">
          <!-- Logo -->
          <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
            <div class="ui-w-60">
              <div class="w-100 position-relative">
                <img class="login-logo" src="/assets/img/c-icon.png">
              </div>
            </div>
          </div>
          <!-- / Logo -->

          <h5 class="text-center text-muted font-weight-normal mb-4">Login to Your Account</h5>

          {% if message|length %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% endif %}

          <!-- Form -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label class="form-label">Email</label>
              <input type="text" name="email" class="form-control">
            </div>
            <div class="form-group">
              <label class="form-label d-flex justify-content-between align-items-end">
                <div>Password</div>
                <!-- <a href="javascript:void(0)" class="d-block small">Forgot password?</a> -->
              </label>
              <input type="password" name="password" class="form-control">
            </div>
            <div class="d-flex justify-content-between align-items-center m-0">
				<label class="custom-control custom-checkbox m-0"></label>
              <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
            {% if next|length %}
			<input type="hidden" name="next" value="{{ next }}">
			{% endif %}
          </form>
          <!-- / Form -->

        </div>
        
      </div>

    </div>
  </div>
{% endblock %}
