
[mediasortlist-inputs] > * {
	margin-right: .5rem !important;
}

.ui-w-120 {
    width: 120px !important;
    height: auto;
}

.sort-item-move{
	cursor: pointer;
}

span.media-float-icon{
	right: 5%;
	bottom: 5%;
}

.media a.media-preview{
	text-decoration : none;
	cursor: default;
}
