
.text-medium{
	font-size: 120% !important;
}

label[image-field]{
	cursor: pointer;
}

label[image-field] input[type=file]{
	display: none;
}

button[status="normal"] span:not([status-normal]),
button[status="loading"] span:not([status-loading]){
    display: none;
}
